<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap">
    <link rel="stylesheet" href="https://site-assets.infp.kr/inc/themes/star/plugins/global/plugins.bundle.css?202309061713">
    <link rel="stylesheet" href="https://site-assets.infp.kr/inc/themes/star/css/style.bundle.css?202312120052">
    <link rel="stylesheet" href="https://site-assets.infp.kr/inc/common.css?202310171632">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.8.1/github-markdown.min.css" rel="stylesheet">
    <style>
	.markdown-body {
		box-sizing: border-box;
		min-width: 200px;
		max-width: 980px;
		margin: 0 auto;
		padding: 45px;
	}

	@media (max-width: 767px) {
		.markdown-body {
			padding: 15px;
		}
	}
</style>
</head>
<body>
    <h1>Welcome, ${USER_ID}!</h1>
    <p>Article path: ${ARTICLE_PATH}</p>
    <article>
      <h2>Article title: ${ARTICLE_TITLE}</h2>
      <div class="markdown-body">${ARTICLE_BODY}</div>
    </article>
</body>
</html>
